site_name: SPDX AI Working Group
site_description: Technical Working Group for AI and Dataset profiles of SPDX specification
site_url: https://spdx-ai.github.io/spdx-ai/
repo_url: https://github.com/spdx-ai/spdx-ai
repo_name: spdx-ai/spdx-ai

theme:
  name: material
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.top
    - search.suggest
    - search.highlight
    - content.code.copy

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - attr_list
  - md_in_html
  - tables

nav:
  - Home: index.md
  - Resources:
    - Meeting Minutes: resources/meetings.md
    - Examples: resources/examples.md
    - Publications: resources/publications.md

plugins:
  - search

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/spdx-ai
    - icon: fontawesome/brands/linux
      link: https://www.linuxfoundation.org/

copyright: Copyright &copy; 2024 SPDX AI Working Group
