site_name: SPDX AI Working Group
site_description: The technical working group contributing to AI and data standards for the SPDX specification. Resources and updates from the working group.
site_author: SPDX AI Working Group
copyright: SPDX AI Working Group. Content is released under <a href="https://spdx.org/licenses/CC0-1.0.html">Creative Commons Zero v1.0 Universal</a> public domain dedication.
site_url: https://spdxai.github.io/
repo_url: https://github.com/spdxai/spdxai.github.io
repo_name: spdxai/spdxai.github.io
edit_uri: edit/main/docs/

use_directory_urls: true

theme:
  name: material
  favicon: img/favicon.png
  logo: img/spdx-logo-white.svg
  palette:
    # Palette toggle for light mode
    - scheme: default
      primary: teal
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - content.action.edit
    - content.code.copy
    - navigation.expand
    - navigation.instant
    - navigation.instant.progress
    # - navigation.tabs
    - navigation.sections
    - navigation.top
    - search.highlight
    - search.suggest

markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - tables

nav:
  - Home: index.md
  - profiles.md
  - examples.md
  - publications.md
  - contribute.md

plugins:
  - git-revision-date-localized: # Use mkdocs-git-revision-date-localized-plugin
      enable_creation_date: true
  - optimize
  - search
  - social
  - tags

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/spdxai
    - icon: fontawesome/brands/linux
      link: https://www.linuxfoundation.org/
